<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/logo.png"
      class="me-2"
      height="35"
      alt=""
      loading="lazy"
    />
    RecallDevBookApp</a
  >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-2 mr-3">
        <a class="nav-link active" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active ml-2 mr-3">
        <a
          class="nav-link active"
          href="#"
          style="margin-right: 10px; color: white"
        >
          <i class="fa fa-shopping-cart" aria-hidden="true"><img  /> Cart (0)</i>
        </a>
      </li>
      <li class="nav-item active mr-3">
        <a class="nav-link" href="#">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </li>
    </ul>
    <a
      class="btn btn-dark px-1"
      target="_blank"
      href="https://github.com/Matiej"
      role="button"
    >
      <i class="icon"><img src="/assets/github-circle.png" /></i>
    </a>
    <a
      class="btn btn-dark px-4"
      target="_blank"
      href="https://www.linkedin.com/in/matiej/"
      role="button"
    >
      <i class="icon"><img src="/assets/linkedin-box.png" /></i>
    </a>

    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search books..."
        aria-label="Search"
      />
      <button class="btn btn-outline-primary btn-lg my-2 my-sm-1" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div
    style="margin-left: 45%; margin-right: 40%"
    id="spinner"
    class="spinner-border"
    role="status"
    *ngIf="isLoading"
  >
    <img class="img-center" src="assets/Loader.gif" />
  </div>

  <div class="row">
    <div *ngFor="let book of bookList" class="col-md-6 col-xl-6">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-3">
            <a href=""
              ><img
                src="{{ book.bookCoverUrl }}"
                alt=""
                class="shadow img-fluid rounded w-60"
            /></a>
          </div>
          <div class="col-9 card-title align-self-center mb-0">
            <h5>{{ book.title }}</h5>
            <p class="m-0">
              <span *ngFor="let author of book.authors"
                >{{ author.fullName }}<br
              /></span>
            </p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-envelope float-right"></i>Price :
            <a href="#">$ {{ book.price }}</a>
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Available :
            {{ book.available }}
          </li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a
              href="#"
              class="btn btn-primary tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-title="Add to Cart"
              (click)="addToCart(book)"
              ><i class="fa fa-cart-arrow-down"></i>
            </a>
            <!-- <a
              href="#"
              class="btn btn-secondary tooltips"
              data-placement="top"
              data-toggle="tooltip"
              data-original-title="Delete"
              ><i class="fa fa-times"></i
            ></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
